<footer class="footer">
    <nav class="footer__nav">
        <a href="https://www.create-store.com/es/" target="_blank" class="footer__nav--link">Link1</a>
        <a href="https://www.create-store.com/es/" target="_blank" class="footer__nav--link">Link2</a>
        <a href="https://www.create-store.com/es/" target="_blank" class="footer__nav--link">Link3</a>
        <a href="https://www.create-store.com/es/" target="_blank" class="footer__nav--link">Link4</a>
    </nav>
    <nav class="footer__nav2">
        <ul class="footer__nav2--list">
            <a href="" target="_blank" class="footer__nav2--list--link"><i class="fa-brands fa-facebook"></i></a>
            <a href="" target="_blank" class="footer__nav2--list--link"><i class="fa-brands fa-twitter"></i></a>
            <a href="" target="_blank" class="footer__nav2--list--link"><i class="fa-brands fa-google-plus-g"></i></a>
        </ul>
    </nav>
</footer>