<header class="header">
  <section class="section">
    <div class="section__div">
      <h1>Create</h1>
      <img src="../../images/logo.png" alt="Create's logo">
    </div>
    <nav class="section__nav">
      <a href="https://www.create-store.com/es/" target="_blank" class="section__nav--link" >Link1</a>
      <a href="https://www.create-store.com/es/" target="_blank" class="section__nav--link">Link2</a>
      <a href="https://www.create-store.com/es/" target="_blank" class="section__nav--link">Link3</a>
      <a href="https://www.create-store.com/es/" target="_blank" class="section__nav--link">Link4</a>
    </nav>
  </section>
</header>