<main class="main">
    <div class="main__div"></div>
        <div class="main__div--2">
            <section class="main__div--2--section">
                <h2 class="main__div--2--sectio--title1">Lorem ipsum dolor sit amet</h2>
                <p class="main__div--2--section--p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum minima, consectetur porro cupiditate id quos officiis eaque! Nihil, consequatur, ab cum nostrum mollitia dolore, ducimus error porro odit voluptatum quaerat?</p>
            </section>
            <section class="main__div--2--section2">
                <h2 class="main__div--2--section2--title2">Lorem ipsum dolor sit amet</h2>
                <div class="main__div--2--section2--div">
                    <hr class="main__div--2--section2--div--row">
                <p class="main__div--2--section--div--p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, officiis rerum temporibus culpa corrupti nulla amet rem perferendis quia eligendi, illum reiciendis nostrum pariatur quos. Quas deleniti aperiam similique laborum!</p>
                </div>
            </section>
            <section class="main__div--2--section3">
                <h2 class="main__div--2--section3--title3">Lorem ipsum dolor sit amet</h2>
                <p class="main__div--2--section3--p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro perspiciatis hic quas beatae ea! Perspiciatis itaque nihil consequuntur suscipit quisquam, maiores corporis iste dignissimos est incidunt voluptas illo beatae impedit.</p>
            </section>
        </div>
    <aside class="main__aside">
        <div class="main__aside--box"></div>
        <div class="main__aside--box"></div>
    </aside>
</main>